%section#works
.container
  .row.centered.mt.mb
    %h1 Apps I've Released
    .col-lg-3.col-md-3.col-sm-3.gallery
      %a{href: "https://itunes.apple.com/us/app/the-washington-post-live/id1087412248?mt=8", target: "_blank", title: "The Washington Post Live"}
        %img.img-responsive{src: "http://a4.mzstatic.com/us/r30/Purple60/v4/fc/ad/57/fcad573d-8fd7-33e0-e3bb-20f78fd433a0/icon175x175.jpeg"}
    .col-lg-3.col-md-3.col-sm-3.gallery
      %a{href: "https://itunes.apple.com/us/app/scroggle/id994899163?mt=8", target: "_blank", title: "Scroggle"}
        %img.img-responsive{src: "http://a4.mzstatic.com/us/r30/Purple69/v4/8f/97/58/8f975850-b4eb-d3b3-3b56-fc9b0ef72bed/icon175x175.png"}
    .col-lg-3.col-md-3.col-sm-3.gallery
      %a{href: "https://itunes.apple.com/us/app/mobileday-one-touch-dialer/id509842900?mt=8", target: "_blank", title: "MobileDay"}
        %img.img-responsive{src: "http://a3.mzstatic.com/us/r30/Purple20/v4/23/fe/a7/23fea779-7104-de82-d287-f497030d9951/icon175x175.jpeg"}
    .col-lg-3.col-md-3.col-sm-3.gallery
      %a{href: "https://itunes.apple.com/us/app/piste+off!/id901052933?mt=8", target: "_blank", title: "Piste+Off!"}
        %img.img-responsive{src: "http://a4.mzstatic.com/us/r30/Purple3/v4/ad/a3/a5/ada3a540-0810-cc93-2fd7-a38389d94297/icon175x175.png"}
