#footerwrap
  .container
    .row.centered
      .col-lg-4
        %p
          %b{"ng-bind": "title"}
      .col-lg-4
        %p{"ng-bind": "about"} Living in the amazing London.
      .col-lg-4
        %p{"ng-bind": "email"}
