
.background2 { background: url(/assets/images/back2.png) no-repeat center top !important; }
.skill_parent { padding: 5px; text-align: center; }
.skill { background-color: $themeDark; display: table-cell; position: relative; border: 1px solid $textColorDark; align-content: center; vertical-align: middle; width: 200px; height: 100px; word-wrap: break-word; color: $textColorLight; }
