#social
  .container
    .row.centered
      .col-lg-2
        %a{href: "https://github.com/intere/", target: "_blank"}
          %i.fa.fa-github
      .col-lg-2
        %a{href: "https://www.facebook.com/intere", target: "_blank"}
          %i.fa.fa-facebook
      .col-lg-2
        %a{href: "https://twitter.com/intere", target: "_blank"}
          %i.fa.fa-twitter
      .col-lg-2
        %a{href: "https://www.linkedin.com/in/eric-internicola-2a52407", target: "_blank"}
          %i.fa.fa-linkedin
      .col-lg-2
        %a{href: "https://www.instagram.com/eric.i/", target: "_blank"}
          %i.fa.fa-instagram
      .col-lg-2
        %a{href: "https://www.youtube.com/intere", target: "_blank"}
          %i.fa.fa-youtube
