#about.wrap.about
  .container
    .row
      .col-lg-6.col-lg-offset-3
.container
  .row.centered.mt.mb
    .col-lg-8.col-lg-offset-2
      %h2{"ng-bind": "name"}
      %p{"ng-bind": "bio.summary"}

  .row.centered.mt.mb
    .col-lg-8.col-lg-offset-2
      %h3
        Work Summary
  .job.row{"ng-repeat": "job in work"}
    .col-lg-8.col-lg-offset-2
      %h2{"ng-bind": "job.position"}
      %h4{"ng-bind": "job.company"}
      %span{"ng-bind": "job.startDate"}
      %span{"ng-bind": "' - '"}
      %span{"ng-bind": "job.endDate || 'current'"}
      %div{"ng-bind": "job.summary"}
